<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Basic HTML5 Template</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="SitePoint">

    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description" content="A simple HTML5 Template for new projects.">
    <meta property="og:image" content="image.png">

    <!--
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
   -->

    <!--
        https://htmx.org/posts/2021-5-25-htmx-1.4.0-is-released/

        All libraries have to rely on either XHR or fetch to send requests.
        HTMLX uses XHR.
        For Set-Cookies to work, you need to properly set the "withCredentials" option, which is then
        passed to XHR withCredentials

        https://developer.mozilla.org/fr/docs/Web/API/XMLHttpRequest/withCredentials

        FIXME: it doesn't seem to work properly yet
        Maybe due to CORS headers? https://stackoverflow.com/a/48231372/5513532
    -->
    <meta name="htmx-config" content='{"withCredentials": true}'>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>




</head>

<body>
    <button onclick="window.location.reload()">Refresh</button>
    <a href="/">Back to home</a>
    <p>This is a basic implementation with HTMX, adapt to your own needs to implement your auth frontend.</p>
    <!-- your content here... -->
    <div>

        <h2>You</h3>
            <div id="user-target"></div>
            <button hx-get="http://localhost:8000/account/user" hx-trigger="click" hx-target="#user-target"
                hx-ext="json-enc">
                Load current user
            </button>
    </div>
    <hr />
    <button hx-post="http://localhost:8000/account/logout" hx-trigger="click" type="button"
        hx-ext="json-enc">Logout</button>
</body>

</html>